body,
html {
  height: 100%;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}

.bg-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0px);
}

.navbar {
  min-height: 80px;
}

.weather-card {
  background-color: #f8f9fa; /* Light background color */
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.weather-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
}

.transparent {
    background-color: rgba(50, 50, 50, 0.4);
}
