{% extends 'index.html' %} 

{% block head %}
<!--JavaScript-->
<script src="static/api.js"></script>
<title>API Documentation</title>
{% endblock head %}

{% block body %}
<div id="card-container" class="container py-5">
  <div class="row">
    <!-- <div class="col-md-6 offset-md-3">
      <div class="card transparent rounded-4">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-success fw-bold fs-3 pe-2">GET</div>
            <div class="fw-bold fs-3 text-light">Current Temperature</div>
          </div>
          <p class="text-success">
            http://0.0.0.0:5000/currentTemperature?location=Mikkeli
          </p>
          <code class="text-light">
            { <br />
            "temperature_degree": 30.23, <br />
            "temperature_fahrenheit": 90.45 <br />
            }
          </code>
        </div>
      </div>
    </div> -->
  </div>
</div>

{% endblock body %}
